
@{
    ViewData["Title"] = "CustomErrorPage";
}

<h2>Something went wrong with your request. Please try again.</h2>
<br />
<a role="button" asp-area="" asp-controller="User" asp-action="ProfileAsync"><b>Back</b></a>
