* {
    font-size: 1.5rem;
}

html {
    overflow-y: scroll;
}

/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\ 
for details on configuring this project to bundle and minify static web assets. */
body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

/* My settings*/

/*input {
    width: 100%;
}*/
a {
    text-decoration: none;
}

footer {
    height: 100%;
    display: flex;
    align-content: flex-end;
    justify-content: space-around;
}

.login {
    height: 494px;
}

th {
    background-color: #1c5780;
    color: white;
}

.pointer {
    cursor: pointer;
}

tr.buttons>td {
    padding-bottom: 0.5em;
    padding-top: 0.3em;
}

label {
    font-size: 1.5rem;
}

input {
    width: 35%;
}

.date {
    text-align: center;
    padding-left: 0.1%;
}

.verticalSplit, .content {
    border: solid white 1px;
}

.verticalSplit {
    text-align: center;
    padding: 7px 13px;
}

.content {
    padding: 0 13px;
    text-align: justify;
}

.post-row {
    width: 100%;
}

.content,
.date {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.5rem;
}

.user-info {
    list-style-type: none !important;
    text-align: left;
    padding-top:7%;
    padding-left: 5%;
}

.user-info img {
    width:50px;
    height:50px;
    border:1px solid white;
}

.blank-row {
    height: 23px;
}

input[type=search]:focus {
    background-color: white !important;
    color: black !important;
}

.members {
    width: 100%;
    margin:0 auto; 
    border-top: 1px solid #ccc;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid orange;
    border-left: 1px solid #ccc;
}

#registration input,
#admin-registration input,
#edit-profile input {
    height: 33px;
    font-size: 1.7rem;
    text-align: center;
    border-radius: 7px
}

input {
    outline: none;
}

.edit-btn,
.delete-btn,
.reply-btn,
.report-btn {
    float: right; 
    margin: 0.7% 0.5% 0 0;
}

.edit-btn,
.delete-btn,
.send-btn,
.reply-btn,
.pm-btn,
.report-btn,
.post-btn,
.save-btn,
.close-btn,
.register-btn,
.login-btn,
.submit-btn,
.suspend-btn,
.cancel-btn,
.create-btn {
    border: 1px solid white;
    border-radius: 7px;
}

.delete-acc-btn a:hover {
    text-decoration:none;
    cursor: pointer;
}

.delete-acc-btn a {
    margin-left: 17%;
    border: 1px solid white;
    border-radius: 7px
}

.suspend-btn {
    margin-top: 0.7%;
}

.categories a,
.threads a {
    text-decoration: none !important;
}

.categories a:hover,
.threads a:hover {
    text-decoration: underline !important;
}

.category-title {
    font-size: 2rem;
    color: whitesmoke;
    text-decoration: underline;
}